<!doctype html>
<html lang="en">
  <head>
    <meta charset="utc-8"/>
    <title>MyWebsite</title>
    <link rel="stylesheet" type="text/css" href="https://mtzeka.github.io/sample-repo/css/styles.css" />
    <title>Fila Bates Portfolio: this page will give insight into the artwork of Graphic Designer Fila Bates and will give showcase his artistic approach to design.</title>
    <meta name="description" content="Fila Bates is a graphic Designer based in Michigan City, Indiana. He specializes in branding, web-design, and marketing.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="wrap">
    <header>
            <div>
            	<a href="index.html"><img src="images/logo.png" alt="picture of my logo"></a>
            </div>
	    <nav>
                <ul>
                    <li><a href="index.html">Work</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
    </header>
    <main>
      {{content}}
    </main>
       <footer>
            <p><a href="#top">Back to Top</a></p>
        </footer>
    </div>
    	  <script 
		  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	  </script>
	  <script src="js/masonry.pkgd.min.js"></script>
	  <script src="js/masonrygrid.js"></script>
	  <script src="js/lightbox.js"></script>
	  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  </body>
</html>
